@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP:wght@300;700;900&display=swap');

* {
    transition: ease-in-out background-color 200ms, color 100ms;
}

.light {
    background-color: white;
    color: black;

    --background-color: white;

    --hover-color: #F66151;
    --input-box-background: #EBEAEA;
    --input-box-foreground: #494949d0;
}

.dark {
    background-color: #202020;
    color: white;

    --background-color: #202020;

    --hover-color: #F66151;
    --input-box-background: #4B4B4B;
    --input-box-foreground: #cfcfcfd0;
}

.purple {
    background-color: #1B1B2F;
    color: #F66151;

    --background-color: #1B1B2F;

    --hover-color: white;
    --input-box-background: #162447;
    --input-box-foreground: #F66151d0;
}