@import '../globals.css';

.topbar {
    position: fixed;

    top: 0;

    z-index: 100;

    font-size: 1vw;
}

.themeChanger {
    margin-left: 1vw;

    cursor: pointer;

    transition: ease-in-out 100ms all;
}

.themeChanger:hover {
    color: var(--hover-color);
}