@import '../../globals.css';

#editor-topbar {
    height: 5vw;

    width: 100vw;

    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    background-color: transparent;

    z-index: 0;
}