@import '../globals.css';

#register {
    display: flex;

    height: 100vh;
}

h1 {
    margin: 0;

    font-family: 'Noto Sans JP';
    font-size: 4vw;
}

input {
    all: unset;
}

.input-form {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: space-between;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    width: 38vw;
    height: 30vw;
}

.input-form button {
    all: unset;

    width: 11vw;
    height: 3.5vw;

    text-align: center;

    font-family: 'Noto Sans JP';
    font-size: 2.7vw;
    font-weight: 700;

    background-color: var(--input-box-background);

    border-radius: .4vw;

    margin: .4vw;
    padding: .6vw;
    padding-top: 0;

    cursor: pointer;
}

.input-box {
    display: flex;
    flex-direction: row;

    margin: .5vw;

    width: 25vw;
    height: 4.2vw;

    background-color: var(--input-box-background);

    border-radius: .4vw;

    overflow: hidden;
}

.input-box svg {
    font-size: 3vw;

    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    color: var(--input-box-foreground);
}

.input-box input {
    height: 75%;
    width: 100%;

    margin-top: 2.5%;

    font-size: 2vw;

    color: var(--input-box-foreground);
}

.input-box input::placeholder {
    color: var(--input-box-foreground);
    opacity: 1;
}

/* These two are for Internet Explorer and Edge */
.input-box input:-ms-input-placeholder {
    color: var(--input-box-foreground);
}

.input-box input::-ms-input-placeholder {
    color: var(--input-box-foreground);
}